# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = false

[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = silent
