@inject IJSRuntime JSRuntime

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public string DiagramContent { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("mermaid.init");
        }
        await JSRuntime.InvokeVoidAsync("initializeZoomist");
    }

    private void Close() => MudDialog.Close();
}

<MudDialog>
    <DialogContent>
        <MudPaper>
            <div id="zoomist" class="zoomist-container">
                <div class="zoomist-wrapper" style="width: 100%; height: 100%;">
                    <div class="zoomist-image">
                        <div class="mermaid" style="text-align: center; margin: 10px;">
                            @DiagramContent
                        </div>
                    </div>
                </div>
            </div>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>
